.projects-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-projects {
  width: calc((100% - 60px)/3);

}

.shadow {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 2);

  &:hover, &:focus {
    box-shadow:
      0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12),
      1px 4px 6px rgba(0, 0, 0, 0.16);

  }

}


.background-projeckt {
  padding: 20PX 24px;
  border-left: 1PX solid #EEEEEE;
  border-right: 1PX solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}



.projects-absolut {
  position: relative;
  overflow: hidden;
}

.text-projects-js {
  position: absolute;
  top: 0;
  height: 100%;
  font: weight 400px;
  font-size: 18px;
  Line-height: 1.5555;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  
  color: $main-color;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .shadow:hover & {
      transform: translateY(0);
    }
}



.titel {
  color: $title-text-color;
  @include font(700, 18px, 2, 0.06em, null);

  margin-bottom: 4px;

}

.titel-content {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

}